/Optimizacion de tela - Alg. Geneticos/nbproject/private/
/Optimizacion de tela - Alg. Geneticos/build/
/Optimizacion de tela/nbproject/private/
/Optimizacion de tela/build/
/Optimizacion de tela/dist/